@font-face {
    font-family: 'contentFont';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
}

*, *:before, *:after {
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 18px;
    box-sizing: border-box;
}

p{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(./imgs/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#content{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hide-element{
    display: none;
}

/*******************************input**************************************/

#search{
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#search label{
    position: absolute;
    color: #eee;
    transition: .5s;
    font-size: 1.2rem;
}

#search input{
    border: none;
    border-bottom: 1px solid #CED4DA;
    font-size: 1.3rem;
    padding-bottom: 2px;
    color: white;
    background-color: transparent;
}

#search input:focus{
    outline: none;
    border-bottom: 1px solid blue;
}

#search input:focus ~ label , #search input:valid ~ label{
   top: -25px; 
   color: blue;
   font-weight: lighter;
   font-size: 0.9rem;
}

#error{
    color: red;
    font-size: 1rem;
    margin-top: 10px;
}


/**************************************info**************************************/

.info{
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    padding: 30px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#description,#city{
    color: white;
    font-family: 'contentFont';
    font-size: 2rem;
}

#temperature{
    font-size: 4rem;
    color: white;
    font-family: 'contentFont';
}

#others{
    background: rgba(24, 24, 27, 0.2);
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    border-radius: 20px;
}

#others p:first-child{
    font-family: 'contentFont';
    font-size: 1rem;

}

.weather-element{
    display: flex;
    gap: 100px;
    justify-content: space-between;
}


@media only screen and (max-width: 500px) {
    .info{
        width: 320px;
        padding: 30px 20px;  
    }

   .weather-element{
    gap: 50px;
   }   
}

@media only screen and (max-width: 380px) {
    .info{
        width: 310px;
        padding: 30px 5px;  
    }

   .weather-element{
    gap: 40px;
   }   
}









